<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Edit Listing</h3>
    <form method="Post" action="/listings/<%=listing._id%>?_method=PUT">
        <input name="listing[title]" type="text" value="<%=listing.title%>">
        <br>
        <textarea name="listing[description]"><%=listing.description%></textarea>
        <br>
        <input name="listing[image]" type="text" value="<%=listing.image%>">
        <br>
        <input name="listing[price]" type="number" value="<%=listing.price%>">
        <br>
        <input name="listing[location]" type="text" value="<%=listing.location%>">
        <br>
        <input name="listing[country]" type="text" value="<%=listing.country%>">
        <br>
        <button>Edit</button>
    </form>
</body>
</html>